#heading {
    color: white;
    font-size: 50px;
    background-color: red;
    text-align: center;
    line-height: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.button {
    background-color: blue;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    border: 5px solid blue;
    margin-left: 10px;
}
